<%- include("../partials/header.ejs", {title: title}); %>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<div class="content">
    <h1>CRUD</h1>

    <p>CREATE READ UPDATE DELETE</p>

    <a class="link" href="/eshop/create/">CREATE NEW PRODUCT</a>

    <table>
        <tr>
            <th>Produktkod</th>
            <th>Produktnamn</th>
            <th>Produktbeskrivning</th>
            <th>Produktpris</th>
        </tr>
        <% for (const row of res) { %>
        <tr>
            <td><%= row.produktkod %></td>
            <td>
                <a href="/eshop/product/<%= row.produktkod  %> " class="link"> <%= row.produktnamn %> </a>
            </td>
            <td><%= row.produktbeskrivning %></td>
            <td><%= row.produktpris %></td>
            <td>
                <a href="/eshop/edit/<%= row.produktkod  %> " class="link"> Edit </a>
            </td>
            <td>
                <a href="/eshop/delete/<%= row.produktkod  %> " class="link"> Delete </a>
            </td>
        </tr>
        <% }; %>
    </table>
</div>

<%- include("../partials/footer.ejs"); %>
